<div class="content container" 
      fxLayout="row" 
      fxLayout.xs="column" 
      fxLayoutAlign.
      fxLayoutAlign="space-around center">
      <h1 class="docs-primary-header">Nutre tu Mente y Preparate para Ser Prospero</h1>
</div>
<div class="content container" 
      fxLayout="row" 
      fxLayout.xs="column" 
      fxLayoutAlign.
      fxLayoutAlign="space-around stretch">
      
    <mat-card fxFlex="30" class="sec1" fxFlex.xs="55">
      <mat-card-header>
        <mat-card-title>
          <h4>El Hombre más Rico de Babilonia</h4>
        </mat-card-title>
      </mat-card-header>
      <img 
      mat-card-image 
      src="assets/images/books/el-hombre-mas-rico-de-babilonia.png" 
      alt="El hombre mas rico de babilonia">
      <mat-card-content>
        <p>
          George Clason nos relata a través de fascinantes historias el camino para lograr que el 
          dinero trabaje por nosotros, somos esclavos dia tras dia del dinero, hay momentos en que 
          nuestras deudas pueden llevarnos a estados de desesperación y a perder grandes amistades. 
          Es por ello que si tenemos un mapa que nos enseñe a manejar nuestro dinero, podemos convertir nuestra vida en algo totalmente distinto.
        </p>
      </mat-card-content>
      <mat-card-footer>
        <a mat-button color="primary" href="http://zipteria.com/10721743/el-hombre-mas-rico-de-babilonia" target="_blank">DESCARGAR</a>
      </mat-card-footer>
      <!-- <mat-card-actions>
        
      </mat-card-actions> -->
    </mat-card>

    <mat-card fxFlex="30" class="sec1" fxFlex.xs="55">
      <mat-card-header>
        <mat-card-title>
          <h4>Los 7 Hábitos de la gente altamente efectiva</h4>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/books/los-7-habitos-de-la-gente-altamente-efectiva.png" alt="Los 7 Habitos de la gente más efectiva">
      <mat-card-content>
        <p>
          Steven covey nos presenta una base de 7 habitos en consonancia con leyes universales 
          que nos permiten cambiar la realidad en la que vivimos. si aprendemos a gestionar nuestra 
          vida desde el ser podemos lograr los cambios que necesitamos para ser felices.
        </p>
      </mat-card-content>
      <mat-card-footer>
        <a mat-button color="primary" href="http://zipteria.com/10721743/los-7-habitos" target="_blank">DESCARGAR</a>
      </mat-card-footer>
    </mat-card>

    <mat-card fxFlex="30" class="sec1" fxFlex.xs="55">
      <mat-card-header>
        <mat-card-title>
          <h4>Vendele a la mente y no a la gente</h4>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/books/vendele-a-la-mente-y-no-a-la-gente.png" alt="Vendele a la mente y no a la gente">
      <mat-card-content>
        <p>
          Las ventas a pasado a ser un factor clave en la vida de cualquier persona, 
          quien sabe vender puede decidir cuánto ganar y en que trabajar. 
          En este libro Jurgen Klaric nos muestra como cada persona está manejada por 3 cerebros 
          que influyen de manera inconsciente en las decisiones que tomamos.
        </p>
      </mat-card-content>
      <mat-card-footer>
        <a mat-button color="primary" href="http://zipteria.com/10721743/vendele-a-la-mente" target="_blank">DESCARGAR</a>
      </mat-card-footer>
    </mat-card>



    <!-- <div fxFlex="30" class="sec2" >
        second-section
    </div>
    <div fxFlex="55" class="sec3" fxFlex.xs="15">
        third-section
    </div> -->
    
</div>



