<footer class="content" 
  fxLayout="row" 
  fxLayout.xs="column" 
  fxLayoutAlign.
  fxLayoutAlign="space-around center">
    <div fxFlex="33" class="footer-contact" fxFlex.xs="20">
      <a mat-mini-fab href="https://www.facebook.com/finanzasendolares/" target="_blank">
        <i class="fa fa-facebook-square fa-lg"></i>
      </a>
      <a mat-mini-fab href="https://www.instagram.com/finanzasendolares/" target="_blank">
        <i class="fa fa-instagram fa-lg"></i>
      </a>
    </div>
    <div fxFlex="33" class="footer-version" fxFlex.xs="20">
      <span>Versión {{ constants.version }}</span>
    </div>
    <div fxFlex="33" class="footer-copyright" fxLayout="column" >
      <span>FINANZAS EN DOLARES</span>
      <span>@2018</span>
    </div>
</footer>