<header class="mat-elevation-z6">
  <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>
          <a [routerLink]="['/']">
            <img src="assets/images/logo.png" alt="logo" class="logo-header">
          </a>
        </span>
        <button mat-button [routerLink]="['/']">
          Inicio
        </button>
        <span class="example-spacer"></span>
        <button mat-button [routerLink]="['/calculadora-paypal']">
          <mat-icon>apps</mat-icon>
          CALCULADORA PAYPAL
        </button>
        <button mat-button [routerLink]="['/register']">
          Registrarse
        </button>
        <button mat-button [routerLink]="['/login']">
          Iniciar Sesion
        </button>
      </mat-toolbar-row>
  </mat-toolbar>
</header>